USE [master]
GO
/****** Object:  Database [QuanLiDienThoai]    Script Date: 16/11/2025 20:45:16 ******/
CREATE DATABASE [QuanLiDienThoai]
GO

 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLiDienThoai].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLiDienThoai]
GO
/****** Object:  Table [dbo].[BaoHanh]    Script Date: 16/11/2025 20:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoHanh](
	[MaPhieuBH] [int] IDENTITY(1,1) NOT NULL,
	[IMEI] [varchar](10) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayNhan] [datetime] NULL,
	[MoTaLoi] [nvarchar](max) NOT NULL,
	[TinhTrangXuLy] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 16/11/2025 20:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[IMEI] [varchar](10) NOT NULL,
	[DonGia] [float] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[IMEI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSanPham_IMEI]    Script Date: 16/11/2025 20:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSanPham_IMEI](
	[IMEI] [varchar](10) NOT NULL,
	[MaSP] [varchar](4) NOT NULL,
	[GiaNhap] [float] NOT NULL,
	[TinhTrang] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IMEI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DienThoai]    Script Date: 16/11/2025 20:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DienThoai](
	[MaSP] [varchar](4) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[MaHSX] [varchar](3) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Ram] [int] NOT NULL,
	[BoNho] [int] NOT NULL,
	[Gia] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanhThu]    Script Date: 16/11/2025 20:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhThu](
	[IMEI] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[NgayLapHD] [datetime] NULL,
	[Gia] [float] NULL,
 CONSTRAINT [PK_DoanhThu] PRIMARY KEY CLUSTERED 
(
	[IMEI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangSanXuat]    Script Date: 16/11/2025 20:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangSanXuat](
	[MaHSX] [varchar](3) NOT NULL,
	[TenHSX] [nvarchar](100) NOT NULL,
	[DiaChiVN] [nvarchar](255) NOT NULL,
	[SoDienThoaiVN] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 16/11/2025 20:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayLapHD] [datetime] NULL,
	[TongTien] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 16/11/2025 20:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTaiKhoan]    Script Date: 16/11/2025 20:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTaiKhoan](
	[MaTaiKhoan] [int] NOT NULL,
	[TenLoaiTaiKhoan] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapHang]    Script Date: 16/11/2025 20:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapHang](
	[MaSP] [varchar](4) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[SLNhap] [int] NULL,
	[Gia] [float] NULL,
	[TongGia] [float] NULL,
 CONSTRAINT [PK_NhapHang] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 16/11/2025 20:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NULL,
	[MatKhau] [varbinary](max) NULL,
	[Email] [varchar](100) NULL,
	[RandomKey] [varchar](10) NULL,
	[OTP] [varchar](10) NULL,
	[OTPDateSend] [datetime] NULL,
	[DateCreated] [datetime] NULL,
	[MaTaiKhoan] [int] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaoHanh] ON 

INSERT [dbo].[BaoHanh] ([MaPhieuBH], [IMEI], [MaKH], [NgayNhan], [MoTaLoi], [TinhTrangXuLy]) VALUES (1, N'00100041', 10000021, CAST(N'2025-09-10T03:17:30.000' AS DateTime), N'Loi pin', N'Da sua chua')
INSERT [dbo].[BaoHanh] ([MaPhieuBH], [IMEI], [MaKH], [NgayNhan], [MoTaLoi], [TinhTrangXuLy]) VALUES (2, N'00150032', 10000025, CAST(N'2025-09-01T03:17:30.000' AS DateTime), N'Loi pin', N'Da sua chua')
SET IDENTITY_INSERT [dbo].[BaoHanh] OFF
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [IMEI], [DonGia]) VALUES (1, N'00100019', 5990000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [IMEI], [DonGia]) VALUES (1, N'00100041', 5990000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [IMEI], [DonGia]) VALUES (1, N'00120016', 3590000)
GO
INSERT [dbo].[ChiTietSanPham_IMEI] ([IMEI], [MaSP], [GiaNhap], [TinhTrang]) VALUES (N'00010001', N'0001', 26392000, N'Da ban')
INSERT [dbo].[ChiTietSanPham_IMEI] ([IMEI], [MaSP], [GiaNhap], [TinhTrang]) VALUES (N'00010002', N'0001', 26392000, N'Da ban')
INSERT [dbo].[ChiTietSanPham_IMEI] ([IMEI], [MaSP], [GiaNhap], [TinhTrang]) VALUES (N'00010003', N'0001', 26392000, N'Da ban')
GO
INSERT [dbo].[DienThoai] ([MaSP], [TenSP], [MaHSX], [SoLuong], [Ram], [BoNho], [Gia]) VALUES (N'0001', N'iPhone 17 Pro Max 256GB', N'001', 161, 8, 256, 32990000)
INSERT [dbo].[DienThoai] ([MaSP], [TenSP], [MaHSX], [SoLuong], [Ram], [BoNho], [Gia]) VALUES (N'0002', N'iPhone 17 128GB', N'001', 12, 8, 128, 28590000)
INSERT [dbo].[DienThoai] ([MaSP], [TenSP], [MaHSX], [SoLuong], [Ram], [BoNho], [Gia]) VALUES (N'0003', N'iPhone 16 128GB', N'001', 20, 6, 128, 21990000)
GO
INSERT [dbo].[HangSanXuat] ([MaHSX], [TenHSX], [DiaChiVN], [SoDienThoaiVN]) VALUES (N'001', N'Apple', N'Số 04 Yết Kiêu, Quận Hoàn Kiếm, Thành phố Hà Nội', N'02432115274')
INSERT [dbo].[HangSanXuat] ([MaHSX], [TenHSX], [DiaChiVN], [SoDienThoaiVN]) VALUES (N'002', N'Samsung', N'Số 2, đường Hải Triều, Phường Bến Nghé, Quận 1, TP. Hồ Chí Minh', N'1800588889')
INSERT [dbo].[HangSanXuat] ([MaHSX], [TenHSX], [DiaChiVN], [SoDienThoaiVN]) VALUES (N'003', N'Xiaomi', N'Tầng 16, Tòa nhà Riverfront Financial Centre, số 3A-3B Tôn Đức Thắng, TP. Hồ Chí Minh', N'1800400410')
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [NgayLapHD], [TongTien]) VALUES (1, 10000021, CAST(N'2025-10-27T03:17:30.000' AS DateTime), 15570000)
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [NgayLapHD], [TongTien]) VALUES (2, 10000005, CAST(N'2024-11-27T03:17:30.000' AS DateTime), 25730000)
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [NgayLapHD], [TongTien]) VALUES (3, 10000014, CAST(N'2025-10-24T03:17:30.000' AS DateTime), 5990000)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoDienThoai]) VALUES (10000001, N'Nguyễn Văn An', N'0905123456')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoDienThoai]) VALUES (10000002, N'Trần Thị Bích', N'0987654321')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoDienThoai]) VALUES (10000003, N'Lê Minh Cường', N'0334567890')
GO
INSERT [dbo].[LoaiTaiKhoan] ([MaTaiKhoan], [TenLoaiTaiKhoan]) VALUES (1, N'Admin')
INSERT [dbo].[LoaiTaiKhoan] ([MaTaiKhoan], [TenLoaiTaiKhoan]) VALUES (2, N'Quản lý')
INSERT [dbo].[LoaiTaiKhoan] ([MaTaiKhoan], [TenLoaiTaiKhoan]) VALUES (3, N'Thu ngân')
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([ID], [TenDangNhap], [MatKhau], [Email], [RandomKey], [OTP], [OTPDateSend], [DateCreated], [MaTaiKhoan]) VALUES (1, N'50.01.104.028', 0x81DC9BDB52D04DC20036DBD8313ED055, N'5001104028@student.hcmue.edu.vn', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[TaiKhoan] ([ID], [TenDangNhap], [MatKhau], [Email], [RandomKey], [OTP], [OTPDateSend], [DateCreated], [MaTaiKhoan]) VALUES (2, N'50.01.104.008', 0x81DC9BDB52D04DC20036DBD8313ED055, N'5001104008@student.hcmue.edu.vn', NULL, NULL, NULL, NULL, 3)
INSERT [dbo].[TaiKhoan] ([ID], [TenDangNhap], [MatKhau], [Email], [RandomKey], [OTP], [OTPDateSend], [DateCreated], [MaTaiKhoan]) VALUES (3, N'50.01.104.038', 0x81DC9BDB52D04DC20036DBD8313ED055, N'5001104038@student.hcmue.edu.vn', NULL, NULL, NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
ALTER TABLE [dbo].[BaoHanh] ADD  DEFAULT (getdate()) FOR [NgayNhan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLapHD]
GO
ALTER TABLE [dbo].[BaoHanh]  WITH CHECK ADD  CONSTRAINT [FK_PBH_IMEI] FOREIGN KEY([IMEI])
REFERENCES [dbo].[ChiTietSanPham_IMEI] ([IMEI])
GO
ALTER TABLE [dbo].[BaoHanh] CHECK CONSTRAINT [FK_PBH_IMEI]
GO
ALTER TABLE [dbo].[BaoHanh]  WITH CHECK ADD  CONSTRAINT [FK_PBH_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[BaoHanh] CHECK CONSTRAINT [FK_PBH_KhachHang]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_IMEI] FOREIGN KEY([IMEI])
REFERENCES [dbo].[ChiTietSanPham_IMEI] ([IMEI])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_IMEI]
GO
ALTER TABLE [dbo].[ChiTietSanPham_IMEI]  WITH CHECK ADD  CONSTRAINT [FK_IMEI_DienThoai] FOREIGN KEY([MaSP])
REFERENCES [dbo].[DienThoai] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietSanPham_IMEI] CHECK CONSTRAINT [FK_IMEI_DienThoai]
GO
ALTER TABLE [dbo].[DienThoai]  WITH CHECK ADD  CONSTRAINT [FK_DienThoai_HangSanXuat] FOREIGN KEY([MaHSX])
REFERENCES [dbo].[HangSanXuat] ([MaHSX])
GO
ALTER TABLE [dbo].[DienThoai] CHECK CONSTRAINT [FK_DienThoai_HangSanXuat]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[NhapHang]  WITH CHECK ADD  CONSTRAINT [FK_NhapHang_DienThoai] FOREIGN KEY([MaSP])
REFERENCES [dbo].[DienThoai] ([MaSP])
GO
ALTER TABLE [dbo].[NhapHang] CHECK CONSTRAINT [FK_NhapHang_DienThoai]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_LoaiTaiKhoan] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[LoaiTaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_LoaiTaiKhoan]
GO
USE [master]
GO
